@import "mediaQuery";

@font-face {
  font-family: "SansForgetica";
  src: url("../assets/font/SansForgetica-Regular.otf") format("opentype");
}

@font-face {
  font-family: "hk-grotesk-bold";
  src: url("../assets/font/HKGrotesk-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "hk-grotesk-semi-bold";
  src: url("../assets/font/HKGrotesk-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "hk-grotesk-medium";
  src: url("../assets/font/HKGrotesk-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "hk-grotesk-regular";
  src: url("../assets/font/HKGrotesk-Regular.ttf") format("truetype");
}



.reference-link {
  font-weight: bold;
  color: $color-white;
  &:hover {
    border: none;
    color: $color-white;
    text-decoration: none;
  }
}

.link {
  color: $color-white;
  font-size: 1rem;
  &:hover {
    border: none;
    color: $color-white;
    text-decoration: none;
  }
}

.body-container {
  overflow-y: scroll;
}

.page-bottom-border {
  border-bottom: 4px solid $color-grey-025;
}

.background-color-grey-000 {
  background: $color-grey-000;
}

.color-grey-050 {
  color: $color-grey-050 !important;
}

.color-grey-075 {
  color: $color-grey-075 !important;
}

.text-transform-none {
  text-transform: none;
}

.font-weight-none {
  font-weight: normal !important;
}

.page-content-padding {
  padding: 0 15% !important;
  @include mq(small) {
    padding: 0 10% !important;
  }
}

.left-0{
  left:0;
}
.svg-icon {
  height: 2rem;
  width: 4rem;
}

.cover{
  object-fit: cover;
}

.text-with-highlight {
  color: $color-grey-075 !important;
  .highlights {
    background: #333333;
    color: $color-white !important;
  }
  .highlight-low {
    color: #6c7580;
  }
}

.footer {
  background: rgba(0, 0, 0, 0.8);
}

.text-transform-none {
  text-transform: none !important;
}

.card-dark {
  background: #333333;
  border-radius: 4px;
}

.card {
  background: transparent;
}

.color-white {
  color: $color-white !important;
}


.page-title {
  font-family: hk-grotesk-bold, Helvetica Neue, Arial, sans-serif !important;
  font-weight: 800;
  letter-spacing: 0.5rem; //2px
  text-transform: uppercase;
  font-size: 3rem; //48px
  line-height: 4.5rem; //72px
  color: $color-grey-100;
}

.heading {
  font-family: hk-grotesk-regular, Helvetica Neue, Arial, sans-serif !important;
  font-weight: 400;
  font-size: 3rem; //48px
  line-height: 4.5rem; //72px
  color: $color-grey-100;
}

.secondary-heading {
  font-family: hk-grotesk-regular, Helvetica Neue, Arial, sans-serif !important;
  font-weight: 400;
  font-size: 2rem; //32px
  line-height: 3rem; //40px
  color: $color-grey-100;
}

.sub-heading {
  font-family: hk-grotesk-medium, Helvetica Neue, Arial, sans-serif !important;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.125rem; //2px
  font-size: 1rem; //16px
  line-height: 1.5rem; //24px
  color: $color-grey-050;
}

.pb-xxx {
  padding-bottom: 0.125rem;
}

.paragraph {
  font-family: hk-grotesk-regular, Helvetica Neue, Arial, sans-serif !important;
  font-weight: 400;
  font-size: 1.25rem; //20px
  line-height: 2.5rem; //40px
  color: $color-grey-075;
}

.paragraph-small {
  font-family: hk-grotesk-regular, Helvetica Neue, Arial, sans-serif !important;
  font-weight: normal;
  font-size: 1rem; //16px
  line-height: 2rem; //24px
  color: $color-grey-075;
}

.button {
  font-family: hk-grotesk-bold, Helvetica Neue, Arial, sans-serif !important;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.125rem; //2px
  font-size: 1rem; //16px
  line-height: 1.5rem; //24px
  color: $color-grey-100;
}


.hyper-link {
  font-family: hk-grotesk-semi-bold, Helvetica Neue, Arial, sans-serif !important;
  font-weight: 600;
  font-size: 1.25rem; //16px
  line-height: 2.5rem; //24px
  color: $color-grey-075;
}

.hyper-link-small {
  font-family: hk-grotesk-semi-bold, Helvetica Neue, Arial, sans-serif !important;
  font-weight: 600;
  font-size: 1rem; //16px
  line-height: 2rem; //24px
  color: $color-grey-075;
}

.align-items-small-center {
  @include mq(small) {
    align-items: center !important;
  }
}

.flex-small-column {
  @include mq(small) {
    flex-direction: column !important;
  }
}

.page-title-small {
  @include mq(small) {
    font-size: 2rem !important;
  }
}

.image-full-width-small {
  @include mq(small) {
    object-fit: cover;
    width: 100% !important;
  }
}

.align-text-small-center {
  text-align: center !important;
}

.rectangle {
  height: 4px;
  width: 40px;
  background-color: #6c7580;
}

.highlight-orange {
  background: rgba(252, 135, 42, 0.15);
  color: #f87415;
}

.highlight-swap-e {
  background: rgba(26, 176, 114, 0.15);
  color: #1AB072;
}

.flex-2-col{
  flex: 50%;
 max-width: 50%;
}

.container-padding-override{
  padding-right: 0px;
  padding-left: 0px;
}

.blur-background {
  background: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: blur(5px);
  -moz-backdrop-filter: blur(5px);
  -o-backdrop-filter: blur(5px);
  -ms-backdrop-filter: blur(5px);
  backdrop-filter: blur(10px);
  }
  
  .header-fixed {
  padding: 0 3rem !important;
  align-items: center;
  }
  
  .header-title-fixed {
  padding: 0 !important;
  font-size: 1.25rem !important;
  }
  
  .sticky {
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
  }
  
  #navbar #header {
  transition: 0.4s;
  }

  .content-container {
    padding-top: 10% !important;
    }
  