$color-black: #18191b;
$color-x-black: #99999a;
$color-white: #ffffff;

// Grey
$color-grey-100: #f2f2f2;
$color-grey-075: #c2c6cc;
$color-grey-050: #6c7580;
$color-grey-025: #242527;
$color-grey-000: #0f0f0f;
$color-grey-001: #1f1f1f;

$color-page-background: radial-gradient(circle, #2a2d30 0%, #18191b 100%);
