@import "mediaQuery";
@import "bootstrap";
@import "variables";
@import "common";
@import "home";
@import "about";
@import "project";
@import "menu";
@import "responsive_styles";

body {
  display: flex;
  background: $color-page-background;
  background-repeat: no-repeat;
}
